version: "3.9"

services:
  app:
    build: .
    ports:
      - "8888:80"
    env_file:
      - .env
    networks:
      - wc4k4o0s84c0cw84wk0w4kco

networks:
  wc4k4o0s84c0cw84wk0w4kco:
    external: true
